# Base16 {{scheme-name}}
# Author: {{scheme-author}}
[colors]
background = "#{{base00-hex}}"
foreground = "#{{base05-hex}}"
cursor_bg = "#{{base05-hex}}"
cursor_border = "#{{base05-hex}}"
cursor_fg = "#{{base00-hex}}"
selection_bg = "#{{base0F-hex}}"
selection_fg = "#{{base00-hex}}"

ansi = [
    "#{{base00-hex}}", # default background
    "#{{base08-hex}}", # red
    "#{{base0B-hex}}", # green
    "#{{base0A-hex}}", # yellow
    "#{{base0D-hex}}", # blue
    "#{{base0E-hex}}", # pink
    "#{{base0C-hex}}", # teal
    "#{{base05-hex}}"  # default foreground
]
brights = [
    "#{{base03-hex}}", # comments
    "#{{base08-hex}}", # red
    "#{{base0B-hex}}", # green
    "#{{base0A-hex}}", # yellow
    "#{{base0D-hex}}", # blue
    "#{{base0E-hex}}", # pink
    "#{{base0C-hex}}", # teal
    "#{{base07-hex}}"  # light background
]
